<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.classManage.tusdt.dao.BuildingInfoMapper" >
  <resultMap id="BaseResultMap" type="com.classManage.tusdt.model.BuildingInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="building_name" property="buildingName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="building_layer" property="buildingLayer" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, building_name, address, building_layer, school_id, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from building_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from building_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.classManage.tusdt.model.BuildingInfo" >
    insert into building_info (id, building_name, address, 
      building_layer, school_id, is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{buildingName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{buildingLayer,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.classManage.tusdt.model.BuildingInfo" >
    insert into building_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="buildingName != null" >
        building_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="buildingLayer != null" >
        building_layer,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buildingName != null" >
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="buildingLayer != null" >
        #{buildingLayer,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.classManage.tusdt.model.BuildingInfo" >
    update building_info
    <set >
      <if test="buildingName != null" >
        building_name = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="buildingLayer != null" >
        building_layer = #{buildingLayer,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.classManage.tusdt.model.BuildingInfo" >
    update building_info
    set building_name = #{buildingName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      building_layer = #{buildingLayer,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>