<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.classManage.tusdt.dao.ClassInfoMapper" >
  <resultMap id="BaseResultMap" type="com.classManage.tusdt.model.ClassInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="class_number" property="classNumber" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, class_name, class_number, school_id, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from class_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from class_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.classManage.tusdt.model.ClassInfo" >
    insert into class_info (id, class_name, class_number, 
      school_id, is_delete)
    values (#{id,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{classNumber,jdbcType=INTEGER}, 
      #{schoolId,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.classManage.tusdt.model.ClassInfo" >
    insert into class_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="className != null" >
        class_name,
      </if>
      <if test="classNumber != null" >
        class_number,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="classNumber != null" >
        #{classNumber,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.classManage.tusdt.model.ClassInfo" >
    update class_info
    <set >
      <if test="className != null" >
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="classNumber != null" >
        class_number = #{classNumber,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.classManage.tusdt.model.ClassInfo" >
    update class_info
    set class_name = #{className,jdbcType=VARCHAR},
      class_number = #{classNumber,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="checkClassName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from class_info
    where 1>0
    and is_delete = 0
    and class_name = #{className,jdbcType=VARCHAR}
    and school_id = #{schoolId,jdbcType=INTEGER}
  </select>
  <select id="getClassInfoList" resultType="com.classManage.tusdt.model.BO.ClassBaseInfoListBO">
    select id, class_name className, class_number classNumber
    from class_info
    where is_delete = 0
    <if test="className != null" >
      and class_name like CONCAT(CONCAT('%',#{className}),'%')
    </if>
  </select>
</mapper>