<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.classManage.tusdt.dao.ClassUsingMapper" >
  <resultMap id="BaseResultMap" type="com.classManage.tusdt.model.ClassUsing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="week" property="week" jdbcType="INTEGER" />
    <result column="course_time" property="courseTime" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="class_num" property="classNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, course_id, user_id, room_id, year, month, day, week, course_time, remark, is_delete,
    class_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from class_using
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from class_using
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.classManage.tusdt.model.ClassUsing" >
    insert into class_using (id, course_id, user_id,
    room_id, year, month,
    day, week, course_time,
    remark, is_delete, class_num
    )
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
    #{roomId,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}, #{month,jdbcType=INTEGER},
    #{day,jdbcType=INTEGER}, #{week,jdbcType=INTEGER}, #{courseTime,jdbcType=INTEGER},
    #{remark,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{classNum,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.classManage.tusdt.model.ClassUsing" >
    insert into class_using
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="week != null" >
        week,
      </if>
      <if test="courseTime != null" >
        course_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="classNum != null" >
        class_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        #{month,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        #{week,jdbcType=INTEGER},
      </if>
      <if test="courseTime != null" >
        #{courseTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="classNum != null" >
        #{classNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.classManage.tusdt.model.ClassUsing" >
    update class_using
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=INTEGER},
      </if>
      <if test="courseTime != null" >
        course_time = #{courseTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="classNum != null" >
        class_num = #{classNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.classManage.tusdt.model.ClassUsing" >
    update class_using
    set course_id = #{courseId,jdbcType=INTEGER},
    user_id = #{userId,jdbcType=INTEGER},
    room_id = #{roomId,jdbcType=INTEGER},
    year = #{year,jdbcType=INTEGER},
    month = #{month,jdbcType=INTEGER},
    day = #{day,jdbcType=INTEGER},
    week = #{week,jdbcType=INTEGER},
    course_time = #{courseTime,jdbcType=INTEGER},
    remark = #{remark,jdbcType=VARCHAR},
    is_delete = #{isDelete,jdbcType=INTEGER},
    class_num = #{classNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByTime" resultType="com.classManage.tusdt.model.BO.ClassroomNameBO">
    select ci.id classroomId, ci.room_name classroomName,bi.building_name buildingName from classroom_info ci,building_info bi
    where ci.is_delete = 0
    and bi.id = ci.building_id
    and ci.room_capacity > #{stuNum,jdbcType=INTEGER}
    and ci.id not in(
    select room_id from class_using where is_delete=0
    and year = #{year,jdbcType=INTEGER}
    and month = #{month,jdbcType=INTEGER}
    and day = #{day,jdbcType=INTEGER}
    and course_time &gt; #{startCourse,jdbcType=INTEGER}
    and course_time &lt; #{endCourse,jdbcType=INTEGER}
    GROUP BY room_id
    )
    <if test="buildingId != null" >
      and bi.building_id = #{buildingId,jdbcType=INTEGER}
    </if>
    and ci.school_id = #{schoolId,jdbcType=INTEGER}
  </select>
  <select id="checkCourseTime" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from class_using
    where room_id = #{classroomId,jdbcType=INTEGER}
    and year = #{year,jdbcType=INTEGER}
    and month = #{month,jdbcType=INTEGER}
    and week = #{week,jdbcType=INTEGER}
    and course_time = #{courseTime,jdbcType=INTEGER}
  </select>

  <select id="checkTeacherTime" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from class_using
    where user_id = #{teacherId,jdbcType=INTEGER}
    and year = #{year,jdbcType=INTEGER}
    and month = #{month,jdbcType=INTEGER}
    and week = #{week,jdbcType=INTEGER}
    and course_time = #{courseTime,jdbcType=INTEGER}
  </select>

  <select id="checkWeekTime" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from class_using
    where user_id = #{teacherId,jdbcType=INTEGER}
    and year = #{year,jdbcType=INTEGER}
    and month = #{month,jdbcType=INTEGER}
    and day = #{day,jdbcType=INTEGER}
    and week = #{week,jdbcType=INTEGER}
  </select>
  <select id="getSchedule" resultType="com.classManage.tusdt.model.BO.ClassUsingScheduleBO">
    select
    ci.course_name courseName,cri.room_name roomName
    from class_using cu, course_info ci, classroom_info cri
    where cu.course_id = ci.id
    and cu.room_id = cri.id
    and cu.user_id = #{teacherId,jdbcType=INTEGER}
    and year = #{year,jdbcType=INTEGER}
    and month = #{month,jdbcType=INTEGER}
    and week = #{week,jdbcType=INTEGER}
    and course_time = #{courseTime,jdbcType=INTEGER}
    and course_id != '0'
  </select>
  <select id="getByClassUse" resultType="com.classManage.tusdt.model.BO.ClassUseBO">
    select cu.remark remarks,cu.class_num classNum from class_using cu where cu.room_id = #{classroomId,jdbcType=INTEGER}
    and cu.course_time > #{startCourse,jdbcType=INTEGER}
    and #{endCourse,jdbcType=INTEGER} > cu.course_time
    and year = #{year,jdbcType=INTEGER}
    and month = #{month,jdbcType=INTEGER}
    and day = #{day,jdbcType=INTEGER}
  </select>
</mapper>