<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.classManage.tusdt.dao.CourseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.classManage.tusdt.model.CourseInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_num" property="courseNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="manage_id" property="manageId" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, course_name, course_num, create_time, manage_id, school_id, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.classManage.tusdt.model.CourseInfo" >
    insert into course_info (id, course_name, course_num, 
      create_time, manage_id, school_id, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{courseNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{manageId,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.classManage.tusdt.model.CourseInfo" >
    insert into course_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="courseNum != null" >
        course_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="manageId != null" >
        manage_id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseNum != null" >
        #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="manageId != null" >
        #{manageId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.classManage.tusdt.model.CourseInfo" >
    update course_info
    <set >
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseNum != null" >
        course_num = #{courseNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="manageId != null" >
        manage_id = #{manageId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.classManage.tusdt.model.CourseInfo" >
    update course_info
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_num = #{courseNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      manage_id = #{manageId,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getCourseListByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course_info
    where is_delete = 0
    and course_name = #{courseName,jdbcType=VARCHAR}
  </select>

  <select id="getCourseBaseInfo" resultType="com.classManage.tusdt.model.BO.CourseBaseInfoBO">
    select
    id, course_name courseName, course_num courseNum
    from course_info
    where is_delete = 0
    and school_id = #{schoolId,jdbcType=INTEGER}
    <if test="courseName != null">
      and course_name like CONCAT(CONCAT('%',#{courseName}),'%')
    </if>
  </select>
</mapper>