<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.classManage.tusdt.dao.SchoolInfoMapper" >
  <resultMap id="BaseResultMap" type="com.classManage.tusdt.model.SchoolInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
    <result column="school_address" property="schoolAddress" jdbcType="VARCHAR" />
    <result column="school_code" property="schoolCode" jdbcType="VARCHAR" />
    <result column="school_president" property="schoolPresident" jdbcType="VARCHAR" />
    <result column="school_president_id_card" property="schoolPresidentIdCard" jdbcType="VARCHAR" />
    <result column="school_telephone" property="schoolTelephone" jdbcType="VARCHAR" />
    <result column="school_mail_code" property="schoolMailCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, school_name, school_address, school_code, school_president, school_president_id_card, 
    school_telephone, school_mail_code, create_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from school_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from school_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.classManage.tusdt.model.SchoolInfo" >
    insert into school_info (id, school_name, school_address, 
      school_code, school_president, school_president_id_card, 
      school_telephone, school_mail_code, create_time, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{schoolName,jdbcType=VARCHAR}, #{schoolAddress,jdbcType=VARCHAR}, 
      #{schoolCode,jdbcType=VARCHAR}, #{schoolPresident,jdbcType=VARCHAR}, #{schoolPresidentIdCard,jdbcType=VARCHAR}, 
      #{schoolTelephone,jdbcType=VARCHAR}, #{schoolMailCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.classManage.tusdt.model.SchoolInfo" >
    insert into school_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolName != null" >
        school_name,
      </if>
      <if test="schoolAddress != null" >
        school_address,
      </if>
      <if test="schoolCode != null" >
        school_code,
      </if>
      <if test="schoolPresident != null" >
        school_president,
      </if>
      <if test="schoolPresidentIdCard != null" >
        school_president_id_card,
      </if>
      <if test="schoolTelephone != null" >
        school_telephone,
      </if>
      <if test="schoolMailCode != null" >
        school_mail_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolName != null" >
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolAddress != null" >
        #{schoolAddress,jdbcType=VARCHAR},
      </if>
      <if test="schoolCode != null" >
        #{schoolCode,jdbcType=VARCHAR},
      </if>
      <if test="schoolPresident != null" >
        #{schoolPresident,jdbcType=VARCHAR},
      </if>
      <if test="schoolPresidentIdCard != null" >
        #{schoolPresidentIdCard,jdbcType=VARCHAR},
      </if>
      <if test="schoolTelephone != null" >
        #{schoolTelephone,jdbcType=VARCHAR},
      </if>
      <if test="schoolMailCode != null" >
        #{schoolMailCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.classManage.tusdt.model.SchoolInfo" >
    update school_info
    <set >
      <if test="schoolName != null" >
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolAddress != null" >
        school_address = #{schoolAddress,jdbcType=VARCHAR},
      </if>
      <if test="schoolCode != null" >
        school_code = #{schoolCode,jdbcType=VARCHAR},
      </if>
      <if test="schoolPresident != null" >
        school_president = #{schoolPresident,jdbcType=VARCHAR},
      </if>
      <if test="schoolPresidentIdCard != null" >
        school_president_id_card = #{schoolPresidentIdCard,jdbcType=VARCHAR},
      </if>
      <if test="schoolTelephone != null" >
        school_telephone = #{schoolTelephone,jdbcType=VARCHAR},
      </if>
      <if test="schoolMailCode != null" >
        school_mail_code = #{schoolMailCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.classManage.tusdt.model.SchoolInfo" >
    update school_info
    set school_name = #{schoolName,jdbcType=VARCHAR},
      school_address = #{schoolAddress,jdbcType=VARCHAR},
      school_code = #{schoolCode,jdbcType=VARCHAR},
      school_president = #{schoolPresident,jdbcType=VARCHAR},
      school_president_id_card = #{schoolPresidentIdCard,jdbcType=VARCHAR},
      school_telephone = #{schoolTelephone,jdbcType=VARCHAR},
      school_mail_code = #{schoolMailCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>